{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
    <meta name="author" content="Webpixels">
    <title>管理员系统</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700"
          rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="../static/assets/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link type="text/css" href="../static/assets/css/demo.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
    <div class="container">
        <a class="navbar-brand" href="../"><strong>login</strong></a>
        <button class="navbar-toggler" type="button" data-action="offcanvas-open"
                data-target="#navbar_main" aria-controls="navbar_main"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<main class="main">
    <section class="py-xl bg-cover bg-size--cover"
             style="background-image: url('../assets/images/backgrounds/img-1.jpg')">
        <span class="mask bg-primary alpha-6"></span>
        <div class="container d-flex align-items-center no-padding">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">

                                <span class="clearfix"></span>
                                <img src="../static/assets/images/brand/icon.png"
                                     style="width: 50px;"/>
                                <h4 class="heading h3 text-white pt-3 pb-5">Welcome
                                    back,<br>
                                    login to your account.</h4>
                                <form class="form-primary" method="post" novalidate>
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <div class="row" style="position:relative">
                                            {{ form.username }}
                                            <span style="color:red;"
                                                  style="position:absolute">
                                                {{ form.username.errors }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row" style="position:relative">
                                            {{ form.password }}
                                            <span style="color:red;"
                                                  style="position:absolute">
                                                {{ form.password.errors }}</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="id_code">图片验证码</label>
                                        <div class="row">
                                            <div class="col-xs-7" style="position:relative">
                                                {{ form.code }}
                                                <span style="color: red;"
                                                      style="position:absolute">
                                                    {{ form.code.errors }}</span>
                                            </div>
                                            <div class="col-xs-5">
                                                <img id="image_code"
                                                     src="/image/code/">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit"
                                            class="btn btn-block btn-lg bg-white mt-4">
                                        Sign in
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
</footer>


<!-- Core -->
<script src="../static/assets/vendor/jquery/jquery.min.js"></script>
<script src="../static/assets/vendor/popper/popper.min.js"></script>
<script src="../static/assets/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwesome 5 -->
<script src="../static/assets/vendor/fontawesome/js/fontawesome-all.min.js"
        defer></script>
<!-- Page plugins -->
<script src="../static/assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="../static/assets/vendor/input-mask/input-mask.min.js"></script>
<script src="../static/assets/vendor/nouislider/js/nouislider.min.js"></script>
<script src="../static/assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="../static/assets/js/theme.js"></script>
</body>
</html>
